apiVersion: v1
data:
  COHERE_API_KEY: <base64-cohere-api-key>
  DATABASE_URL: <base64-database-url>
  GEMINI_API_KEY: <base64-gemini-api-key>
  GROQ_API_KEY: <base64-groq-api-key>
  JWT_SECRET: <base64-jwt-secret>
  LANGCHAIN_API_KEY: <base64-langchain-api-key>
  LANGCHAIN_TRACING_V2: dHJ1ZQ== # base64 for 'true'
  LANGSMITH_PROJECT: ZG9jLXJhZw== # base64 for 'doc-rag'
  OPENAI_API_KEY: <base64-openai-api-key>
  PEXELS_API_KEY: <base64-pexels-api-key>
  QDRANT_API_KEY: ""
  QDRANT_COLLECTION_NAME: ZG9jLXJhZw==
  QDRANT_URL: aHR0cDovL2xvY2FsaG9zdDo2Mzgw # base64 for 'http://localhost:6380'
  TAVILY_API_KEY: <base64-tavily-api-key>
kind: Secret
metadata:
  name: rag-secret

---
apiVersion: v1
kind: Secret
metadata:
  name: docchat-secrets
type: Opaque
stringData:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "password"
  POSTGRES_DB: "docchat"
